<div class='gallery'>
<p id="notice"><%= notice %></p>


  <h1>Shopping Cart</h1>

<% render :partial => 'form', :collection => @shopping_cart.shopping_cart_items %>

<%= link_to 'Edit', edit_shopping_cart_path(@shopping_cart) %> |
<%= link_to 'Back', shopping_carts_path %>
</div>
