<html>
<head>

</head>

<body class="home">
<div class="container" id="container">
		<ul>
			<li class="active"><img src="http://www.abikoyeolufemi.com/wp-content/uploads/2014/10/StarryNight2436.jpg" alt="" /></li>
			<li><img src="http://www.hdwallpapersinn.com/wp-content/uploads/2014/11/famous-painting-art-wallpaper-hd-famous-paintings-sunday-afternoon-hd-widescreen-high-definition.jpg" alt="" /></li>
			<li><img src="http://infopeake.org/blog/wp-content/uploads/2015/02/The-Water-Lily-Pond-Pink-Harmony1.jpg" alt="" /></li>
			<li><img src="http://webneel.com/daily/sites/default/files/images/daily/09-2013/1-the-temptation-surreal-painting-by-salvador-dali.jpg" alt="" /></li>
		</ul>
</div>

<p class="footer">A Platform For Local Artists To Display, Sell, And Meet With Prospective Clients.</p>

<p class="footer"><strong>By Artists, For Artists</strong> </p>
<img src='https://ws.sharethis.com/images/facebook_32.png'>
<img src='https://ws.sharethis.com/images/twitter_32.png'>
<img src='http://i612.photobucket.com/albums/tt205/rcinc/MetroUI-Google-Gmail-icon_zpsoqvekfpr.png'>

</body>
</html>
