
<div class="header" id="header">
  <h1><img src='http://i946.photobucket.com/albums/ad303/pkellz6/logo3_zpsc8opuhna.png'></h1>
  <a href='products'><h1>Gallery</h1></a> <a href="artists"><h1>Artists</h1></a> <a href="abouts"><h1>About Us</h1></a>
</div>
